.list {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;

  li {
    position: relative;
    padding: 10px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    svg {
      fill: #7c7c7c;
    }

    span {
      margin-right: auto;
    }

    &icon {
      &--plus {
        stroke: #7c7c7c
      }
    }

    &:hover {
      button {
        opacity: 0.2;
        cursor: pointer;
      }
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    button {
      padding: 0 5px;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      opacity: 0;
      z-index: 1;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  &__add-task {
    svg {
      stroke: #7c7c7c;
    }

    &:hover,
    &:focus {
      color: #333333;
      svg {
        stroke: #333333;
      }
    }
  }
}