* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Lato', sans-serif;
  outline: none;
}

body {
  font-family: -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%; 
  min-height: 530px;
  display: flex;
  font-size: 14px;
  line-height: 1.5rem;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;

  &__sidebar {
    width: 200px;
    //height: calc(100% - 100px);
    min-height: 100%;
    padding: 50px 20px;
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
  }

  &__tasks {
    position: relative;
    padding: 55px;
    flex: 1;
  }
}

.field {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus-visible {
    border-color: #4DD599;
  }
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  color: #FFFFFF;
  background: #4DD599;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: darken($color: #4DD599, $amount: 6%);
  }

  &:active {
    background-color: darken($color: #4DD599, $amount: 12%);
  }

  &:disabled {
    background-color: #9C9C9C;
  }

  &--clear {
    color: #9C9C9C;
    background-color: #F4F6F8;

    &:hover,
    &:focus-visible {
      background-color: darken($color: #F4F6F8, $amount: 6%);
    }

    &:active {
      background-color: darken($color: #F4F6F8, $amount: 12%);
    }
  }
}